<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">Best Seller</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" routerLink="/price-list">Price List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" routerLink="/price-calculator">Price Calculator</a>
      </li>

    </ul>
  </div>
  <a class="nav-link" (click)="checkoutClicked()">Checkout</a>
</nav>
