<div class="container">
  <h5 class="card-title">Checkout</h5>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Carton count</th>
      <th>Unit count</th>
      <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of cart.items | keyvalue">
      <td>{{productMap[product.value.key]?.name}}</td>
      <td>{{product.value.cartonCount}}</td>
      <td>{{product.value.unitCount}}</td>
      <td>{{product.value.price | number:'1.2-2'}}</td>
    </tr>
    <tr class="active">
      <td colspan="3">Total</td>
      <td>{{cart.total | number:'1.2-2'}}</td>
    </tr>
    </tbody>
  </table>
  <button disabled class="btn btn-primary right">Checkout</button>
</div>

