<div class="container" style="margin-top: 70px;">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let contact of [1,2,3,4]">

      <td>123</td>
      <td> Name</td>
      <td> malindu@hotmail.com</td>
      <td>
        <button class="btn btn-primary" > Show details</button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="card text-center" >
    <div class="card-header">
      # 123
    </div>
    <div class="card-block">
      <h4 class="card-title">name</h4>
      <p class="card-text">
        description
      </p>
    </div>

  </div>
</div>
